/* theme.css */
/* CSS-переменные для темы и поддержка светлой/тёмной темы */

:root {
    --color-bg: #fafafc;
    --color-fg: #222;
    --color-accent: #5c9ded;
    --color-border: #aaa;
    --color-header: #353746;
}

[data-theme="dark"] {
    --color-bg: #232336;
    --color-fg: #e0e0f0;
    --color-accent: #87bfff;
    --color-border: #444a;
    --color-header: #22223a;
}

body {
    background: var(--color-bg);
    color: var(--color-fg);
}